template(name='Home')
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      button.btn.btn-default.btn-back.pull-left.hidden(type='button', onclick='history.back()')
        i.fa.fa-lg.fa-chevron-left
        span Back
      button.btn.btn-default.btn-menu.pull-left.offcanvas-toggle(type='button')
        i.fa.fa-lg.fa-bars
        span Menu
      a.navbar-brand(title='Customers v{{getAppVersion}}', href='/') Customers
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='#')
              i.fa.fa-users
              |               Contacts
          li
            a(href='#')
              i.fa.fa-building-o
              |               Companies
          li
            a(href='#')
              i.fa.fa-gears
              |               Settings
  .container
    .row
      .col-sm-4.bootcards-list
        .panel.panel-default
          .panel-heading.clearfix
            h3.panel-title.pull-left GitHub projects
          .list-group
            .list-group-item
              h4 pcuci:bootcards Meteor Package
              p.list-group-item-text
                a(href='https://github.com/pcuci/bootcards') https://github.com/pcuci/bootcards
            .list-group-item
              h4 bootcards-demo Code (this site)
              p.list-group-item-text
                a(href='https://github.com/pcuci/bootcards-demo') https://github.com/pcuci/bootcards-demo
          .panel-footer
            small Built with Bootcards - Base Card
        .panel.panel-default.bootcards-media
          .panel-heading
            h3.panel-title Media Card Heading
          .panel-body
            | Media card description lorem ipsum dolor est compendium
          img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
          .panel-footer
            .btn-group.btn-group-justified
              .btn-group
                button.btn.btn-default
                  i.fa.fa-arrow-down
                  |                   Download
              .btn-group
                button.btn.btn-default
                  i.fa.fa-star
                  |                   Favorite
              .btn-group
                button.btn.btn-default
                  i.fa.fa-envelope
                  |                   Email
      .col-sm-6.bootcards-cards
        .panel.panel-default.bootcards-media
          .panel-heading
            h3.panel-title Media Card Heading
          .panel-body
            | Media card description lorem ipsum dolor est compendium
          img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
          .panel-footer
            .btn-group.btn-group-justified
              .btn-group
                button.btn.btn-default
                  i.fa.fa-arrow-down
                  |                   Download
              .btn-group
                button.btn.btn-default
                  i.fa.fa-star
                  |                   Favorite
              .btn-group
                button.btn.btn-default
                  i.fa.fa-envelope
                  |                   Email
      .col-sm-2.bootcards-cards
        .panel.panel-default.bootcards-media
          .panel-heading
            h3.panel-title Media Card Heading
          .panel-body
            | Media card description lorem ipsum dolor est compendium
          img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
          .panel-footer
            .btn-group.btn-group-justified
              .btn-group
                button.btn.btn-default
                  i.fa.fa-arrow-down
                  |                   Download
              .btn-group
                button.btn.btn-default
                  i.fa.fa-star
                  |                   Favorite
              .btn-group
                button.btn.btn-default
                  i.fa.fa-envelope
                  |                   Email
